<!--
* 详情页面
* @author ${author}
* @email ${email}
* @date ${datetime}
*-->
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html>
<head>
    <title>Title</title>
    <%@ include file="/common/jsp/resource.jsp" %>
</head>
<body>
<div class="layui-field-box">
    <form class="layui-form" action="">
     #foreach ($column in $columns)
        <div class="layui-form-item">
            <label class="layui-label-left">${column.comments}<span class="label_span">:</span></label>
            <label class="layui-label-right">#[[$]]#{model.$column.attrname}</label>
        </div>
      #end
    </form>
</div>
<script>
    $(document).ready(function () {
       var labels=$(".layui-label-right");
       for(var i=0;i<labels.length;i++){
           if($(labels[i]).html()==""){
               $(labels[i]).html("-");
           }
       }
    });
</script>
</body>
</html>
